/* Main Stylings */
body {
    margin: 0;
    font-family: sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f5f6f7;
}

.header{
    text-align: center;
    text-transform: uppercase;
    border-bottom: 4px solid #fdb347;
    padding: 32px;
    background-color: black;
    color: #fff;
}

.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

 /* setting box-sizing to content-box explicitly, with the global * selector */
 * {
    box-sizing: border-box;
} 