/* Main Stylings */
body {
    margin: 0;
    font-family: sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f5f6f7;
}

.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
}

 /* setting box-sizing to content-box explicitly, with the global * selector */
 * {
    box-sizing: border-box;
} 